# objects
*.o

# final binaries
iceball
iceball.exe
pmfedit
pmfedit.exe

# windows build crap
winlibs/
*.dll

# windows crap i mean why the hell does it do this crap
stdout.txt
stderr.txt

# remnants
bts

# backups, just in case you can't configure your editor properly
*.bak
*~

# gprof
gmon.out

# kate
*.kate-swp

