# objects
*.o

# final binaries
iceball.exe

# windows build crap
winlibs/
*.dll

# windows crap i mean why the hell does it do this crap
stdout.txt
stderr.txt

# remnants
bts

# backups, just in case you can't configure your editor properly
*.bak
*~

# gprof
gmon.out

# kate
*.kate-swp

#visual studio files (personal config and whatnot)
*.suo
*.ncb
*.user

msvc/Debug
msvc/Release
build/msvc