# objects
*.o

# final binaries
iceball
iceball.exe
pmfedit
pmfedit.exe

# remnants
bts

# backups, just in case you can't configure your editor properly
*.bak
*~

# gprof
gmon.out

# kate
*.kate-swp

